<div class="kanban-card-wrapper {{ disable_click }}" data-name="{{ encodeURIComponent(name) }}"
	title="{{ client_description }}">
	<div class="kanban-card content">
		{% if(image_url) { %}
		<div class="kanban-image">
			<img src="{{ image_url }}" alt="{{ title }}">
		</div>
		{% } %}
		<div class="kanban-card-body">
			<div class="kanban-title-area">
				<a href="{{ form_link }}">
					<div class="kanban-card-title">
						{{ title }}
					</div>
				</a>
				{% if(queue_position !== 0) { %}
				<div class="circle {% if appointment_date %}has-appointment red{% endif %}">
					<span class="circle-icon">
						{% if appointment_date %}
						<i class="fa-regular fa-calendar"></i>
						{% else %}
						<span style="user-select: none;" title="Queue Position">{{ queue_position }}</span>
						{% endif %}
					</span>
					{% if appointment_date %}
					<div class="hover-date" title="Appointment Date: Day-Month">{{ appointment_date }}
					</div>
					{% endif %}
				</div>
				{% } %}
			</div>
			<div class="kanban-handler">
				<div class="kanban-card-doc text-muted">
					{{ doc_content }}
				</div>
				<div class="kanban-card-meta"></div>
			</div>
		</div>
	</div>
</div>

<style>
	.kanban-title-area {
		display: flex;
		align-items: center;
		position: relative;
	}

	.kanban-card-title {
		flex: 1;
	}

	.circle {
		position: absolute;
		right: -0.5rem;
		top: -0.5rem;
		border: 0.1875em solid #e1e1e1;
		border-radius: 50%;
		height: 3em;
		width: 3em;
		background-color: rgba(255, 255, 255, 0.846);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.circle.red {
		border-color: #d14343;
	}

	.circle-icon {
		color: #d14343;
		animation: heartbeat 1s infinite;
	}

	.has-appointment:hover .circle-icon {
		opacity: 0;
	}

	.has-appointment .hover-date {
		position: absolute;
		font-size: 0.8em;
		color: #d14343;
		white-space: nowrap;
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.3s, transform 0.3s;
		user-select: none;
	}

	.has-appointment:hover .hover-date {
		opacity: 1;
		transform: scale(1);
	}

	@keyframes heartbeat {

		0%,
		100% {
			transform: scale(1);
		}

		25%,
		75% {
			transform: scale(1.1);
		}

		50% {
			transform: scale(1.2);
		}
	}
</style>